## Data Cleaning and Validation
In this challenge, I will clean the data for a dataset of article open-access prices paid (Sourced: WELLCOME Trust between 2012-2013). 


Once cleaned, I will determine:


1) The five most common journals and total articles for each

2) The mean, median, and standard deviation of the open-access cost per article per journal

In [1]:
import pandas as pd
import numpy as np

### Importing, encoding
Below, I used encoding iso-8859-1 as opposed to the normal UTF-8 because there appears to be some latin characters that the latter was unable to register.

In [2]:
df = pd.read_csv('journal-data/WELLCOME_APCspend2013_forThinkful.csv', encoding='iso-8859-1')

In [3]:
df.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [4]:
df.columns

Index(['PMID/PMCID', 'Publisher', 'Journal title', 'Article title',
       'COST (£) charged to Wellcome (inc VAT when charged)'],
      dtype='object')

### Renaming columns
Adding underscores to spaces, and simplifying the cost column name

In [5]:
df.columns = ['PMID/PMCID','Publisher','Journal_title','Article_title','Cost']

In [6]:
df.describe()

,PMID/PMCID,Publisher,Journal_title,Article_title,Cost
count,1928,2127,2126,2127,2127
unique,1880,299,984,2126,1402
top,-,Elsevier,PLoS One,"Exclusive breastfeeding, diarrhoel morbidity a...",£2040.00
freq,7,387,92,2,94

### Remove currency signs from prices

In [37]:
df.Cost = df.Cost.str.replace('£', '')
df.Cost = df.Cost.str.replace('$', '')

### Analyzing journal IDs

In [8]:
df['PMID/PMCID'].value_counts(ascending=True)

23458425 PMC3630740                                 1
PMC3777123                                          1
23201205                                            1
3676539                                             1
PMC3460760                                          1
PMCID: PMC3491471                                   1
PMC3546795                                          1
PMCID:\n    PMC3761558                              1
PMID: 23681165  PMC3824307                          1
PMC3169830                                          1
PMC3557262                                          1
PMC3472025                                          1
PMC3507630                                          1
PMC3374517                                          1
PMC3719211\n\n                                      1
PMID: 23140835 PMC3625108                           1
PMC3747673\n\n                                      1
PMC3621106                                          1
PMID: 23477577 PMC3727344                           1
PMC3632754                                          1
PMCID: 3581401                                      1
24097313                                            1
23738518                                            1
23447590 : PMC3601669                               1
3121340                                             1
PMID: 23236081                                      1
PMC3694301                                          1
PMC3535338                                          1
PMCID: PMC3562439                                   1
PMCID: PMC3640159                                   1
                                                   ..
3620707                                             1
PMC3677098                                          1
3472478                                             1
41609                                               2
PMC3173209                                          2
PMC 3599138                                         2
PMC 3435256                                         2
PMC3405234                                          2
PMC3708033\n\n                                      2
PMC3597274                                          2
Pending                                             2
PMC in progress                                     2
PMC 3413714                                         2
e-pub                                               2
Epub ahead of print April 2013 - print in press     2
not yet published                                   2
PMCID:\n    PMC3647051\n                            2
Monograph chapter, not in PMC                       2
22735079                                            2
PMC3746156                                          2
PMC3529206                                          2
Epub ahead of print pub Jan 2013, print in press    3
Epub ahead of print pub Feb 2013, print in press    3
Epub ahead of print - june 2013                     3
pub Aug 2013                                        3
Pub July 2013                                       3
print in press                                      3
In Process                                          7
Not yet available                                   7
-                                                   7
Name: PMID/PMCID, Length: 1880, dtype: int64

In [9]:
df.loc[df['PMID/PMCID']=='41609']

,PMID/PMCID,Publisher,Journal_title,Article_title,Cost
950,41609,John Wiley & Sons Ltd,Journal of Medical Virology,High level of HIV-2 false positivity in KwaZul...,612.59
1956,41609,Wiley,Journal of Cellular Biochemistry,The U5 snRNA internal loop 1 is a platform for...,1971.87

Despite the same PMID, they are not the same articles. For our purposes here, we won't gain any valuable information from the PMID/PMCID column so I will drop it.

In [10]:
df = df.drop(['PMID/PMCID'], axis=1)

### Remove duplicate entries

In [11]:
# remove any entries with indentical values
df = df.drop_duplicates()

In [12]:
df.describe()

,Publisher,Journal_title,Article_title,Cost
count,2126,2125,2126,2126
unique,299,984,2126,1402
top,Elsevier,PLoS One,CD6 attenuates early and late signaling events...,2040.00
freq,387,91,1,94

### Merge journal title entries together that have different spelling/capitalizations

There are 984 unique journal title's in this dataset. How can I reasonably sort through it all?

In [13]:
df['Journal_title'].value_counts()

PLoS One                                            91
PLoS ONE                                            62
Journal of Biological Chemistry                     48
Nucleic Acids Research                              21
Proceedings of the National Academy of Sciences     19
PLoS Neglected Tropical Diseases                    18
Human Molecular Genetics                            18
Nature Communications                               17
Neuroimage                                          15
PLoS Pathogens                                      15
PLoS Genetics                                       15
Brain                                               14
NeuroImage                                          14
PLOS ONE                                            14
BMC Public Health                                   14
Movement Disorders                                  13
Developmental Cell                                  12
Biochemical Journal                                 12
Journal of Neuroscience                             12
Journal of General Virology                         11
BMJ                                                 10
Current Biology                                     10
PLOS One                                            10
Neuron                                               9
Cell Reports                                         9
Journal of Physiology                                8
Malaria Journal                                      8
Journal of Clinical Endocrinology and Metabolism     8
Journal of Cell Science                              8
European Journal of Immunology                       8
                                                    ..
Stem Cell Reports                                    1
Theranostics                                         1
American Journal of Psychiatry                       1
Journal of Cellular Biochemistry                     1
Pediatr Infect Dis J                                 1
Veterinary Microbiology                              1
Mol Bio                                              1
Pflugers Archive                                     1
Microbes and Infection                               1
International Psychogeriatrics                       1
Neurology                                            1
Synapse                                              1
Centaurus                                            1
International Journal of Law in Context              1
J Biol Chemistry                                     1
Journal of Transport Geography                       1
Nutrition Journal                                    1
Cell Host & Microbe                                  1
Social Studies of Science                            1
Tetrahedron Letters                                  1
Osteoarthritis and Cartilage                         1
Protein Engineering, Design and Selection (          1
European Journal of Public Health                    1
Reproduction(Cambridge, England)                     1
BMC Genome Biology                                   1
Reproductive Sciences                                1
Frontiers in Schizophrenia                           1
Biomedical Microdevices                              1
Acta Diabetologica                                   1
JERPH                                                1
Name: Journal_title, Length: 984, dtype: int64

In [21]:
# integrate articles that are spelled differently (acronym or otherwise, caps or not)
df.Journal_title = df.Journal_title.replace({'PLoS ONE':'PLoS One',
                                             'PLOS ONE':'PLoS One',
                                             'Plos ONE':'PLos One',
                                             'PloS One':'PLoS One',
                                             'PLOS One':'PLoS One'})

In [22]:
df['Journal_title'].value_counts()

PLoS One                                                   178
Journal of Biological Chemistry                             48
Nucleic Acids Research                                      21
Proceedings of the National Academy of Sciences             19
PLoS Neglected Tropical Diseases                            18
Human Molecular Genetics                                    18
Nature Communications                                       17
PLoS Genetics                                               15
Neuroimage                                                  15
PLoS Pathogens                                              15
NeuroImage                                                  14
BMC Public Health                                           14
Brain                                                       14
Movement Disorders                                          13
Journal of Neuroscience                                     12
Developmental Cell                                          12
Biochemical Journal                                         12
Journal of General Virology                                 11
Current Biology                                             10
BMJ                                                         10
Neuron                                                       9
Cell Reports                                                 9
Malaria Journal                                              8
Molecular Microbiology                                       8
Journal of Virology                                          8
Neurobiology of Aging                                        8
Proceedings of the Royal Society B: Biological Sciences      8
Development                                                  8
Journal of Cell Science                                      8
Journal of Physiology                                        8
                                                          ...
Stem Cell Reports                                            1
Theranostics                                                 1
American Journal of Psychiatry                               1
Journal of Cellular Biochemistry                             1
Pediatr Infect Dis J                                         1
Veterinary Microbiology                                      1
Mol Bio                                                      1
International Psychogeriatrics                               1
Microbes and Infection                                       1
Neurology                                                    1
Synapse                                                      1
Clinical Infectious Diseases                                 1
Centaurus                                                    1
International Journal of Law in Context                      1
J Biol Chemistry                                             1
Journal of Transport Geography                               1
Nutrition Journal                                            1
Cell Host & Microbe                                          1
Social Studies of Science                                    1
Tetrahedron Letters                                          1
Osteoarthritis and Cartilage                                 1
Protein Engineering, Design and Selection (                  1
European Journal of Public Health                            1
Reproduction(Cambridge, England)                             1
BMC Genome Biology                                           1
Reproductive Sciences                                        1
Frontiers in Schizophrenia                                   1
Biomedical Microdevices                                      1
Acta Diabetologica                                           1
JERPH                                                        1
Name: Journal_title, Length: 979, dtype: int64

In [26]:
df.Journal_title = df.Journal_title.str.strip()

In [27]:
df.Journal_title.unique

<bound method Series.unique of 0                                  Psychological Medicine
1                                       Biomacromolecules
2                                              J Med Chem
3                                              J Med Chem
4                                              J Org Chem
5                          Journal of Medicinal Chemistry
6                            Journal of Proteome Research
7                                               Mol Pharm
8                                    ACS Chemical Biology
9                                    ACS Chemical Biology
10           Journal of Chemical Information and Modeling
11                         Journal of Medicinal Chemistry
12                         Journal of Medicinal Chemistry
13                                           Biochemistry
14                         Journal of Medicinal Chemistry
15                                       Gastroenterology
16                        Journal of Biological Chemistry
17                                  Journal of Immunology
18                                  Journal of Immunology
19                                   ACS Chemical Biology
20                                   ACS Chemical Biology
21                                   ACS Chemical Biology
22                              ACS Chemical Neuroscience
23                                               ACS NANO
24                              American Chemical Society
25                                   Analytical Chemistry
26                                   Analytical Chemistry
27                                   Analytical Chemistry
28                                 Bioconjugate Chemistry
29                         Journal of Medicinal Chemistry
                              ...
2097                               Molecular Microbiology
2098                                      Obesity Reviews
2099                                      Obesity Reviews
2100                               Statistics in Medicine
2101                                           Stem Cells
2102                                              Synapse
2103                 The European Journal of Neuroscience
2104                                              Traffic
2105                                              Traffic
2106                           Zoonoses and Public Health
2107                  American Journal of Transplantation
2108                                   Angew chems Int Ed
2109                                          CHEMBIOCHEM
2110                                          Chemmedchem
2111                                          Chemmedchem
2112                                          ChemMedChem
2113                                            Protemics
2114                     Journal of Small Animal Practice
2115                                                 AIDS
2116                                         AIDS Journal
2117                                              AIDS UK
2118                                              AIDS UK
2119    JAIDS Journal of Acquired Immune Deficiency Sy...
2120    Journal of Acquired Immune Deficiency Syndroms...
2121                                      Journal of Aids
2122                                 Circulation Research
2123                                                 AIDS
2124                                 Pediatr Infect Dis J
2125                                                 AIDS
2126      Journal of Acquired Immune Deficiency Syndromes
Name: Journal_title, Length: 2126, dtype: object>

I'm not sure why there are still multiple entries.

### Change cost type from object to float

In [35]:
df.Cost.dtype

dtype('O')

In [38]:
df.Cost = pd.to_numeric(df.Cost)

In [39]:
df.describe()

                Cost
count    2126.000000
mean    24078.272079
std    146894.351294
min         0.000000
25%      1280.000000
50%      1884.155000
75%      2321.342500
max    999999.000000